<% content_for :js_specific do %>
  <%= javascript_include_tag 'login' %>
<% end %>

		<div id="form-wrapper">

    <% if flash[:notice] %>
      <p class="message green-gradient glossy">
         <a href="#" title="Hide message" class="close">X</a>
          <%= flash[:notice] %>
      </p>
    <% end %>

			<div id="form-block" class="scratch-metal">
				<div id="form-viewport">

                                          <%= form_tag sessions_path, { id: "form-login", class: "input-wrapper blue-gradient glossy", title: "Login", remote: true } do  %>
						<ul class="inputs black-input large">
							<!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
							<li><span class="icon-user mid-margin-right"></span><input type="text" name="username" id="login" value="" class="input-unstyled" placeholder="Login" autocomplete="off"></li>
							<li><span class="icon-lock mid-margin-right"></span><input type="password" name="password" id="pass" value="" class="input-unstyled" placeholder="Password" autocomplete="off"></li>
						</ul>

                                                        <button type="submit" class="button glossy full-width">Login</button>
                                      <% end %>

                                          <%= form_tag password_resets_path, { id: 'form-password', class: 'input-wrapper orange-gradient glossy', title: 'Lost password?', remote: true } do %>

						<p class="message">
							If you can’t remember your password, fill the input below with your e-mail and we’ll send you a new one:
							<span class="block-arrow"><span></span></span>
						</p>

						<ul class="inputs black-input large">
							<li><span class="icon-mail mid-margin-right"></span><input type="email" name="mail" id="mail" value="" class="input-unstyled" placeholder="Your e-mail" autocomplete="off"></li>
						</ul>

						<button type="submit" class="button glossy full-width" id="send-password">Send new password</button>

                                      <% end %>

				</div>
			</div>

		</div>
