<% content_for :main_title do %>
  <h1>Messages</h1>
<% end %>

<% content_for :additional_styles do %>
<link rel="stylesheet" href="/css/styles/progress-slider.css?v=1">
<link rel="stylesheet" href="/css/styles/switches.css?v=1">
<link rel="stylesheet" href="/css/styles/files.css?v=1">
<link rel="stylesheet" href="/css/styles/form.css?v=1">
<link rel="stylesheet" href="/js/libs/CLEditor/jquery.cleditor.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css">
<% end %>

<div class="with-padding">

<div class="content-panel margin-bottom">

<div class="panel-navigation silver-gradient">

    <div class="panel-control">
            <%= link_to "Refresh", inbox_refresh_path, class: 'button icon-undo', remote: true %>
    </div>

    <div id="inbox-navigation" class="panel-load-target scrollable" style="height:490px">

       <%= render 'navigation' %>

    </div>

</div>

<div class="panel-content linen">

    <div class="panel-control align-right">
            <%= link_to 'New message', new_message_path, class: 'button icon-star margin-left', remote: true %>
    </div>

    <div id="message-panel" class="panel-load-target scrollable with-padding" style="height:600px">
      <!-- This is where the messages should be displayed -->

    </div>

</div>

</div>

</div>


<% content_for :js_specific do %>
  <script src="/js/developr.input.js"></script>
  <script src="/js/developr.notify.js"></script>
  <script src="/js/developr.scroll.js"></script>
  <script src="/js/developr.progress-slider.js"></script>
  <script src="/js/developr.tooltip.js"></script>
  <script src="/js/developr.confirm.js"></script>
  <script src="/js/developr.content-panel.js"></script>
  <script src="/js/libs/CLEditor/jquery.cleditor.min.js"></script>
<% end %>

