<% content_for :main_title do %>
  <h1>Messages</h1>
<% end %>

<% content_for :additional_styles do %>
<link rel="stylesheet" href="/css/styles/progress-slider.css?v=1">
<link rel="stylesheet" href="/css/styles/switches.css?v=1">
<link rel="stylesheet" href="/css/styles/files.css?v=1">
<% end %>

		<div class="with-padding">

			<div class="content-panel margin-bottom">

				<div class="panel-navigation silver-gradient">

					<div class="panel-control">
						<a href="#" class="button icon-undo">Refresh</a>
					</div>

					<div class="panel-load-target scrollable" style="height:490px">

						<div class="navigable">

							<ul class="unstyled-list open-on-panel-content">
								<li class="big-menu grey-gradient with-right-arrow">
                                                                    <span><span class="list-count"><%= @envelopes.count %></span>Inbox</span>
									<ul class="message-menu">
                                                                            <% @envelopes.each do |envelope| %>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
                                                                                            <span class="blue"><%= envelope.created_at.strftime('%b %d %H:%M') %></span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
                                                                                             <strong class="blue"><%= envelope.message.author.full_name %></strong><br>
                                                                                             <%= envelope.message.subject %>
											</a>
										</li>
                                                                            <% end %>
									</ul>
								</li>
								<li class="big-menu grey-gradient with-right-arrow">
									<span><span class="list-count">8</span>Friends</span>
									<ul class="message-menu">
										<li>
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Mar 5</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">May Starck</strong><br>
												Message subject
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Feb 21</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">John Doe</strong><br>
												Other subject
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Feb 15</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">John Doe</strong><br>
												<b>Re:</b> replied message
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Feb 5</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">May Starck</strong><br>
												Another subject
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Jan 28</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">May Starck</strong><br>
												Old subject
											</a>
										</li>
										<li>
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Mar 5</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">May Starck</strong><br>
												Message subject
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Feb 21</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">John Doe</strong><br>
												Other subject
											</a>
										</li>
										<li class="message-menu">
											<span class="message-status">
												<a href="#" class="unstarred" title="Not starred">Not starred</a>
											</span>
											<span class="message-info">
												<span class="blue">Feb 15</span>
											</span>
											<a href="ajax-demo/inbox-message.html" title="Read message">
												<strong class="blue">John Doe</strong><br>
												<b>Re:</b> replied message
											</a>
										</li>
									</ul>
								</li>
								<li class="message-menu">
									<span class="message-status">
										<a href="#" class="starred" title="Starred">Starred</a>
										<a href="#" class="new-message" title="Mark as read">New</a>
									</span>
									<span class="message-info">
										<span class="blue">17:12</span>
										<a href="#" class="attach" title="Download attachment">Attachment</a>
									</span>
									<a href="ajax-demo/inbox-message.html" title="Read message">
										<strong class="blue">John Doe</strong><br>
										<strong>Mail subject</strong>
									</a>
								</li>
								<li class="message-menu">
									<span class="message-status">
										<a href="#" class="unstarred" title="Not starred">Not starred</a>
										<a href="#" class="new-message" title="Mark as read">New</a>
									</span>
									<span class="message-info">
										<span class="blue">15:47</span>
									</span>
									<a href="ajax-demo/inbox-message.html" title="Read message">
										<strong class="blue">May Starck</strong><br>
										<strong>Mail subject a bit longer</strong>
									</a>
								</li>
								<li class="message-menu">
									<span class="message-status">
										<a href="#" class="unstarred" title="Not starred">Not starred</a>
									</span>
									<span class="message-info">
										<span class="blue">15:12</span>
									</span>
									<a href="ajax-demo/inbox-message.html" title="Read message">
										<strong class="blue">May Starck</strong><br>
										Read message
									</a>
								</li>
							</ul>

						</div>

					</div>

				</div>

				<div class="panel-content linen">

					<div class="panel-control align-right">
						<span class="progress thin" style="width: 40px">
							<span class="progress-bar green-gradient" style="width: 35%"></span>
						</span>
						Used: 35%
						<a href="#" class="button icon-star margin-left">New message</a>
					</div>

					<div class="panel-load-target scrollable with-padding" style="height:450px">

						<h2 class="thin mid-margin-bottom">Message subject</h2>
						<h4 class="no-margin-top">From: John Doe</h4>

						<div class="large-box-shadow white-gradient with-border">

							<div class="button-height with-mid-padding silver-gradient no-margin-top">
								<a href="#" class="button red-gradient float-right with-tooltip" title="Mark as spam">Spam</a>
								<span class="button-group children-tooltip">
									<a href="#" class="button blue-gradient icon-reply" title="Reply to this message">Reply</a>
									<a href="#" class="button" title="Reply to all"><span class="icon-replay-all"></span></a>
									<a href="#" class="button" title="Forward"><span class="icon-extract"></span></a>
								</span>
								<span class="button-group children-tooltip">
									<a href="#" class="button" title="Move to trash"><span class="icon-trash"></span></a>
									<a href="#" class="button" title="Mark as important"><span class="icon-flag"></span></a>
								</span>
							</div>

							<div class="with-padding">
								<p>Hello,</p>

								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>

								<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

								<p>Best regards,</p>

								<p>John</p>

								<div class="left-border grey">
									<p>Hello,</p>

									<p>Sed ut m voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia nisi ut aliquid ex ea commodi consequatur?</p>

									<p>Quis autem vel eum iure reprehenderit qui inquatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

									<p>Regards,</p>

									<p>James</p>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

			<p class="wrapped left-icon icon-info-round">This is only a front-end style, the demo content is static. All AJAX features are functional, but you need to connect them to your own server mail management script</p>

		</div>

