development:
  adapter: postgresql
  encoding: unicode
  database: portal_development
  pool: 5
  username: portaldb_admin
  password: redacted
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: portal_test
  pool: 5
  username: portaldb_admin
  password: redacted
  host: localhost
