/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { margin: 0; font-size: 1em; line-height: 1.4; }

#page_header { background-color: #ccc;  }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.head_nav { float: right; }
.head_nav li { float: left; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; padding-right: 10px;  border-right: solid 1px black; }
.head_nav li.last { border: none; }

#main { margin: 0 auto; padding-top: 15px; }

#sidebar-menu { float: left; width: 200px; height: 800px; padding: 13px 5px 5px 15px; }

#site-body { float: left; width: 800px; clear: both;}

#login-form { margin-left: 450px; margin-top: 200px; }
