<header id="page_header" class="clearfix">
    
  <nav class="head_nav">

    <% if current_user %>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li>Logged In As <%= current_user.full_name %></li>
        <li class="last"><%= link_to "Log out", logout_path %></li>
      </ul>
    <% end %>

  </nav>

</header>
