<section id="sidebar-menu">

  <nav>

    <ul>

      <li><%= link_to "Home", root_url %></li>

      <% if permitted_to?(:index, :administration) %>
        <li><%= link_to "Administration", administration_root_url %>
      <% end %>

    </ul>

  </nav>

</section>

