<% content_for :main_title do %>
  <h1>New Club</h1>
<% end %>

<% content_for :additional_styles do %>
<link rel="stylesheet" href="/css/styles/form.css?v=1">
<% end %>

<div class="with-padding">
  <%= render 'form' %>
</div>

<% content_for :js_specific do %>
<script src="/js/developr.input.js"></script>
<% end %>
